button {
  width: 50px;
  height: 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address, cite, dfn, em, i, var {
  font-style: normal;
  font-weight: 400;
}

.jt_cldunit {
  font-family: "microsoft yahei",Arial;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 300%;
  overflow-y: auto;
  color: #666;
  animation: calendar_open 0.3s cubic-bezier(0.6, 0.01, 0.53, 0.98);
  -webkit-animation: calendar_open 0.3s cubic-bezier(0.6, 0.01, 0.53, 0.98);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
   z-index:9;
}

.jt_calendar_close {
  animation: calendar_close 0.3s cubic-bezier(0.6, 0.01, 0.53, 0.98);
  -webkit-animation: calendar_close 0.3s cubic-bezier(0.6, 0.01, 0.53, 0.98);
}

.home{
	display: block;
	height:20px;
	
}

@keyframes calendar_open {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@keyframes calendar_close {
  from {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes calendar_open {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes calendar_close {
  from {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.jt_cldweek {
  width: 100%;
  overflow: hidden;
  font-size: 11px;
  border-bottom: 1px solid #c8c8c8;
  background: #FFF;
}

.jt_cldweek li:first-child, .jt_cldweek li:last-child {
  width: 15%;
  color: #39c3d0;
}

.jt_cldweek li {
  line-height: 30px;
  float: left;
  width: 14%;
  text-align: center;
}

.jt_cldmonth {
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: #666;
  background: #fff;
  margin: 0;
  border-top: 1px solid #e0e0e0;
}

.jt_cld_daybox {
  overflow: hidden;
  background: #fff;
  padding: 15px 0;
}

.jt_cld_daybox li {
  float: left;
  width: 14%;
  height: 40px;
  padding: 4px 0;
  font: 400 14px/45px verdana;
  overflow: hidden;
  text-align: center;
}

.jt_cld_daybox li.jt_cld_daypass {
  color: #aaa !important;
}
.jt_cld_daybox li.jt_cld_daypass em, .jt_cld_daybox li.jt_cld_daypass i {
  color: #aaa !important;
}

.jt_cld_day_havetxt em, .jt_cld_daycrt em, .jt_cld_haspro em, .jt_cld_nopro em {
  display: block;
  line-height: 20px;
  font-size: 15px;
}

.jt_cld_day_havetxt i, .jt_cld_daycrt i, .jt_cld_haspro i, .jt_cld_nopro i {
  display: block;
  line-height: 15px;
  font-size: 11px;
}

.jt_cld_daybox li:nth-of-type(7n), .jt_cld_daybox li:nth-of-type(7n+1) {
  width: 15%;
  color: #39c3d0;
}

.jt_cld_daybox .jt_choose-day {
  background-color: #39c3d0;
}
.jt_cld_daybox .jt_choose-day em, .jt_cld_daybox .jt_choose-day i.prejl {
  color: #FFF;
}

.calendar_messge {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  max-width: 90%;
  color: #fff;
  border-radius: 5px;
  z-index: 10000;
}

.calendar_messge_show {
  visibility: visible;
  z-index: 99;
}



/*# sourceMappingURL=JTCalendar.css.map */
